@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

.primary__btn {
    width: 335px;
    height: 44px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.primary__btn_grey {
    width: 335px;
    height: 44px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(192, 192, 192, 1);
    border-radius: 80px;
    border: none;
}