@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

.primary__btn {
    width: 335px;
    height: 44px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}