@font-face {
    font-family: 'Gotham Pro';
    src:
        url('../../assets/fonts/Gotham Pro/gothampro.ttf') format('truetype');  
    font-style: normal;
  }

.container {
    width: 1440px;
    height: 1024px;
    display: flex;
    background-color: rgba(247, 246, 249, 1);
}

.profile__menu_list {
    width: 540px;
    height: 1024px;
    background-color: rgba(255, 255, 255, 1);

    .profile__user_name {
        display: flex;
        align-items: center;
        font-family: 'Gotham Pro', sans-serif;
        margin: 20px 0 10px 30px;
        cursor: pointer;
        
        p {
            font-weight: 600;
            color: rgba(73, 73, 73, 1);
            margin-left: 10px;
        }
        span {
            font-weight: 400;
        }
    }

    .profile__menu_btns {
        margin-top: 40px;
    }

    button {
        width: 456px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: transparent;
        color: rgba(73, 73, 73, 1);
        cursor: pointer;
        margin: 10px 0 20px 30px;

        p {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 16px;
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }
    }
    button:last-child {
        margin-top: 52px;
    }
}

.profile__user {
    width: 900px;
    height: 1024px;

    .back__btn {
        width: 636px;
        height: 74px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: rgba(73, 73, 73, 1);
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: rgba(73, 73, 73, 1);
            background-color: transparent;
        }
    }

    .product__list {
        width: 682px;
        height: 584px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        margin: auto;
    }

}

.card__icon {
    position: absolute;
    color: rgba(29, 29, 31, 1);
    margin: 15px 0 42% 31%;
    cursor: pointer;
}
.card__edit {
    width: 564px;
    height: 761px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;

    .card__carousel {
        margin-top: 50px;
        margin-left: 15px;
    }

    .card__picture {
        width: 532px;
        height: 320px;
    }

    img {
        width: 532px;
        height: 320px;
        border-radius: 24px;
    }

    .card__price, .card__title {
        width: 532px;
        height: 40px;
        border-radius: 12px;
        background-color: rgba(247, 246, 249, 1);
        border: none;
        margin-top: 10px;
        margin-left: 15px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        color: rgba(73, 73, 73, 1);
        font-size: 16px;
    }
    .card__brend {
        width: 532px;
        height: 58px;
        border-radius: 12px;
        background-color: rgba(247, 246, 249, 1);
        border: none;
        margin-top: 10px;
        margin-left: 15px;
    }
    .card__edit_description {
        width: 532px;
        height: 96px;
        border-radius: 12px;
        background-color: rgba(247, 246, 249, 1);
        border: none;
        margin-top: 10px;
        margin-left: 15px;
    }

    button {
        margin: auto;
    }
}

.card__delete {
    width: 391px;
    height: 392px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
        width: 303px;
        height: 44px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 600;
        color: rgba(41, 41, 41, 1);
        font-size: 18px;
        text-align: center;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .card__delete_btn {
        width: 335px;
        height: 44px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        color: rgba(73, 73, 73, 1);
        border: none;
        margin-top: -25px   ;
    }
}

// About card 
.about__card {
    width: 532px;
    height: 242px;
    margin: 20px auto;

    .about__card_price {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 900;
        color: rgba(84, 88, 234, 1);
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card__like {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .card__like_icon {
            width: 24px;
            height: 24px;
            color: red;
            margin-right: 6px;
        }

        p {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: rgba(192, 192, 192, 1);
        }
    }

    .about__card_title {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 900;
        font-size: 18px;
        color: rgba(73, 73, 73, 1);
        margin-bottom: 15px;
    }

    .about__title_p {
        width: 532px;
        height: 38px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        color: rgba(192, 192, 192, 1);
        margin-bottom: 20px;
    }

    .card__about_description {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 500;
        color: rgba(73, 73, 73, 1);
        margin-bottom: 15px;
    }
    .card__description_p {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        color: rgba(192, 192, 192, 1);
    }
}