@font-face {
    font-family: 'Gotham Pro';
    src:
        url('../../assets/fonts/Gotham Pro/gothampro.ttf') format('truetype');  
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: auto;
}

.register, .password, .login {
    width: 1440px;
    height: 1024px;
    display: flex;
    font-family: 'Gotham Pro', sans-serif;

    .main__img {
        width: 720px;
        height: 1024px;
    }

    .register__choose_img {
        width: 44px;
        height: 44px;
    }

    .register__form, .login__form {
        width: 720px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .register__btns {
            display: flex;
            align-items: center;
            margin-right: 66%;
            font-weight: 600;
        }

        a {
            color: rgba(0, 0, 0, 1);
            font-weight: 400;
            text-decoration-line: none;
            margin-right: 78%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;

            img {
                margin-right: 10px;
            }
        }
        p {
            margin-right: 78%;;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0 71% 4%;

        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            margin-bottom: 70px;
        }
        button {
            margin-top: 50px;
        }
    }
}

.password__eye_icon {
    margin-right: -50px;
    border-radius: 50px;
    background-color: rgba(192, 192, 192, 0.2);
    border: none;
    cursor: pointer;
}

.password__eye_blue {
    margin-right: -50px;
    border-radius: 50px;
    background-color: rgba(192, 192, 192, 0.2);
    border: none;
    color: rgba(84, 88, 234, 1);
    cursor: pointer;
}

.register__inp {
    width: 186px;
    height: 34px;
    font-size: 30px;
    border: none;
    outline: none;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: normal;
}

.password__form {
    align-items: center;

    .password__inp {
        width: 186px;
        height: 34px;
        font-size: 30px;
        border: none;
        outline: none;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: normal;
        background-color: transparent;
        outline: none;
        margin-left: 25px;
    }

    .password__error_password {
        text-align: center;
        font-size: 15px;
        color: rgba(243, 69, 69, 1);
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 500;
    }
    h3 {
        font-size: 20px;
        color: rgba(73, 73, 73, 1);
        margin-right: 50px;
        margin-bottom: 7px;
    }

    p {
        width: 279px;
        height: 57px;
        color: rgba(192, 192, 192, 1);
        text-align: center;
        font-weight: 400;
        font-family: none;
        margin: 0 0 10px 63%;
        margin-bottom: 30px;
    }

    button {
        margin-right: 64px;
    }
}


.login {
    .login__eye_icon {
        position: absolute;
        margin-left: 329px;
        margin-bottom: 19px;
        color: rgba(192, 192, 192, 1);
        cursor: pointer;
    }

    .login__eye_blue {
        position: absolute;
        margin-left: 329px;
        margin-bottom: 19px;
        color: rgba(84, 88, 234, 1);
        cursor: pointer;
    }
}

// logout
.logout {
    width: 391px;
    height: 392px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
        width: 303px;
        height: 44px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 600;
        color: rgba(41, 41, 41, 1);
        font-size: 18px;
        text-align: center;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .logout__btn {
        width: 335px;
        height: 44px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        color: rgba(73, 73, 73, 1);
        border: none;
        margin-top: -25px   ;
    }
}