@font-face {
    font-family: 'Gotham Pro';
    src:
        url('../../assets/fonts/Gotham Pro/gothampro.ttf') format('truetype');  
    font-style: normal;
  }

.container {
    width: 1440px;
    height: 1024px;
    display: flex;
    background-color: rgba(247, 246, 249, 1);
}

.profile__menu_list {
    width: 540px;
    height: 1024px;
    background-color: rgba(255, 255, 255, 1);

    .profile__user_name {
        display: flex;
        align-items: center;
        font-family: 'Gotham Pro', sans-serif;
        margin: 20px 0 10px 30px;
        
        p {
            font-weight: 600;
            color: rgba(73, 73, 73, 1);
            margin-left: 10px;
        }
        span {
            font-weight: 400;
        }
    }

    .profile__menu_btns {
        margin-top: 40px;
    }

    button {
        width: 456px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: transparent;
        color: rgba(73, 73, 73, 1);
        cursor: pointer;
        margin: 10px 0 20px 30px;

        p {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 16px;
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }
    }
    button:last-child {
        margin-top: 52px;
    }
}

.profile__user {
    width: 900px;
    height: 1024px;
    cursor: pointer;

    .back__btn {
        width: 636px;
        height: 74px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: rgba(73, 73, 73, 1);
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: rgba(73, 73, 73, 1);
            background-color: transparent;

            img {
                margin-right: 10px;
            }
        }
    }

    .profile__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-left: 82px;
        button {
            font-family: 'Gotham Pro', sans-serif;
            color: rgba(84, 88, 234, 1);
            background-color: transparent;
            font-weight: 600;
            font-size: 16px;
            border: none;
            margin-top: 13px;
        }
    }

    .profile__user_name {
        width: 652px;
        height: 179px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0 132px;
        button {
            width: 620px;
            height: 32px;
            border: none;
            color: rgba(192, 192, 192, 1);
            font-size: 17px;
            font-weight: 500;
            font-family: 'Gotham Pro', sans-serif;
            background-color: transparent;
            text-align: start;
            cursor: pointer;
        }
        h3 {
            font-size: 17px;
            font-weight: 600;
            font-family: 'Gotham Pro', sans-serif;
            background-color: transparent;
            color: rgba(0, 0, 0, 1);
            margin-right: 80%;
            cursor: pointer;
        }
        hr {
            width: 620px;
            height: 1px;
            background-color: rgba(247, 246, 249, 1);
            border: none;
            margin: 8px 0;
        }
    }

    .profile__contact_user {
        width: 652px;
        height: 89px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0 0 132px;

        button {
            width: 620px;
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            background-color: transparent;
            color: rgba(84, 88, 234, 1);
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 8px;
            margin-top: 8px;
            cursor: pointer;

            span {
                color: rgba(192, 192, 192, 1);
                font-size: 16px;
            }
        }

        p {
            width: 620px;
            height: 32px;
            color: rgba(0, 0, 0, 1);
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 16px;
            margin-top: 8px;
        }
    }

    .profile__clear_icon {
        color: black;
        margin: 0 0 27% 30%;
        position: absolute;
        cursor: pointer;
    }

    .profile__edit_number {
        width: 565px;
        height: 514px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 24px;
            color: rgba(73, 73, 73, 1);
            margin-bottom: 40px;
        }

        h4 {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: rgba(73, 73, 73, 1); 
        }
        p {
            width: 335px;
            height: 38px;
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: rgba(192, 192, 192, 1);
            text-align: center;
            margin-bottom: 20px;
        }
        input {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(192, 192, 192, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
        }

        input:focus {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(73, 73, 73, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
        }

        button {
            width: 335px;
            height: 65px;
            border-radius: 16px;
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .profile__check_number {
        width: 565px;
        height: 407px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 24px;
            color: rgba(73, 73, 73, 1);
            margin-bottom: 40px;
        }

        h4 {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: rgba(73, 73, 73, 1); 
            margin-top: -20px;
        }
        input {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(192, 192, 192, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
            margin-top: 30px;
        }

        input:focus {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(73, 73, 73, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
        }
        button{
            margin-left: 77%;
            margin-top: -10px;
        }
        .profile__timer {
            p {
                font-family: 'Gotham Pro', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: rgba(192, 192, 192, 1);
            }
        } 
    }
    .profile__icon_checkNumber {
        color: black;
        margin: 0 0 21% 30%;
        position: absolute;
        cursor: pointer;
    }
}