@font-face {
    font-family: 'Gotham Pro';
    src:
        url('../../assets/fonts/Gotham Pro/gothampro.ttf') format('truetype');  
    font-style: normal;
  }

.container {
    width: 1440px;
    height: 1024px;
    display: flex;
    background-color: rgba(247, 246, 249, 1);
}

.profile__menu_list {
    width: 540px;
    height: 1024px;
    background-color: rgba(255, 255, 255, 1);

    .profile__user_name {
        display: flex;
        align-items: center;
        font-family: 'Gotham Pro', sans-serif;
        margin: 20px 0 10px 30px;
        
        p {
            font-weight: 600;
            color: rgba(73, 73, 73, 1);
            margin-left: 10px;
        }
        span {
            font-weight: 400;
        }
    }

    .profile__menu_btns {
        margin-top: 40px;

        button:hover {
            width: 476px;
            height: 46px;
            border-radius: 14px;
            background-color: rgba(247, 246, 249, 1);
        }
    }

    button {
        width: 456px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: transparent;
        color: rgba(73, 73, 73, 1);
        cursor: pointer;
        margin: 10px 0 20px 30px;

        p {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 16px;
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }
        }
    }
    button:last-child {
        margin-top: 52px;
    }
}

.profile__user {
    width: 900px;
    height: 1024px;
    cursor: pointer;

    .back__btn {
        width: 636px;
        height: 74px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: rgba(73, 73, 73, 1);
        cursor: pointer;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: rgba(73, 73, 73, 1);
            background-color: transparent;
            cursor: pointer;

            img {
                margin-right: 10px;
            }
        }
    }

    .profile__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-left: 82px;
        button {
            font-family: 'Gotham Pro', sans-serif;
            color: rgba(84, 88, 234, 1);
            background-color: transparent;
            font-weight: 600;
            font-size: 16px;
            border: none;
            margin-top: 13px;
            cursor: pointer;
        }
    }

    .profile__user_name {
        width: 652px;
        height: 179px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0 132px;
        padding-top: 10px;
        p {
            width: 620px;
            height: 32px;
            border: none;
            color: rgba(192, 192, 192, 1);
            font-size: 17px;
            font-weight: 500;
            font-family: 'Gotham Pro', sans-serif;
            background-color: transparent;
            text-align: start;
            cursor: pointer;
        }
        .profile__active_text {
            font-size: 17px;
            font-weight: 600;
            font-family: 'Gotham Pro', sans-serif;
            background-color: transparent;
            color: rgba(0, 0, 0, 1);
            cursor: pointer;
        }
        hr {
            width: 620px;
            height: 1px;
            background-color: rgba(247, 246, 249, 1);
            border: none;
            margin-bottom: 10px;
        }
    }

    .profile__btn_update {
        font-family: 'Gotham Pro', sans-serif;
        color: rgba(84, 88, 234, 1);
        background-color: transparent;
        font-weight: 600;
        font-size: 16px;
        border: none;
        margin-top: 9px;
        margin-left: 69%;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .profile__contact_user {
        width: 652px;
        height: 89px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 10px 0 0 132px;
        text-align: start;
        padding-bottom: 10px;
        padding-left: 15px;

        hr {
            width: 620px;
            height: 1px;
            background-color: rgba(247, 246, 249, 1);
            border: none;
            margin: 9px 0;
        }

        .profile__contact_btn {
            width: 620px;
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            background-color: transparent;
            color: rgba(84, 88, 234, 1);
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 16px;
            margin-top: 8px;
            cursor: pointer;

            span {
                color: rgba(192, 192, 192, 1);
                font-size: 16px;
            }
        }

        .profile__contact_p {
            width: 620px;
            height: 32px;
            color: rgba(0, 0, 0, 1);
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 16px;
            margin-top: 8px;
        }
    }

    .profile__clear_icon {
        color: black;
        margin: 0 0 27% 30%;
        position: absolute;
        cursor: pointer;
    }

    .profile__edit_number {
        width: 565px;
        height: 514px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profile__title {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: rgba(73, 73, 73, 1);
            margin-bottom: 40px;
        }

        h4 {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: rgba(73, 73, 73, 1); 
        }
        .profile__contact_p {
            width: 335px;
            height: 38px;
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: rgba(192, 192, 192, 1);
            text-align: center;
            margin-bottom: 20px;
        }
        input {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(192, 192, 192, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
            outline: none;
        }

        input:focus {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(73, 73, 73, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
        }

        button {
            width: 335px;
            height: 65px;
            border-radius: 16px;
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }
    }
    .profile__check_number {
        width: 565px;
        height: 407px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 24px;
            color: rgba(73, 73, 73, 1);
            margin-bottom: 40px;
        }

        h4 {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: rgba(73, 73, 73, 1); 
            margin-top: -20px;
        }
        input {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(192, 192, 192, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
            margin-top: 30px;
            outline: none;
        }

        input:focus {
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 700;
            font-size: 28px;
            color: rgba(73, 73, 73, 1);
            text-align: center;
            margin-bottom: 35px;
            border: none;
        }
        .profile__checkNumber_btn {
            width: 215px;
            height: 22px;
            border: none;
            margin-left: 77%;
            margin-top: -10px;
            background-color: transparent;
            color: rgba(84, 88, 234, 1);
            font-family: 'Gotham Pro', sans-serif;
            font-weight: 600;
            font-size: 17px;
            margin-right: 76%;
            cursor: pointer;
        }
        .profile__timer {
            p {
                font-family: 'Gotham Pro', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: rgba(192, 192, 192, 1);
                margin-bottom: 20px;
            }
        } 
    }
    .profile__icon_checkNumber {
        color: black;
        margin: 0 0 21% 30%;
        position: absolute;
        cursor: pointer;
    }

    .profile__icon_edit {
        color: black;
        margin: 0 0 27% 30%;
        position: absolute;
        cursor: pointer;
    }
}

.profile__update_icon {
    color: black;
    margin: 0 0 24% 30%;
    position: absolute;
    cursor: pointer;
}

.profile__update {
    width: 563px;
    height: 450px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: rgba(73, 73, 73, 1);
        margin-bottom: 30px;
    }

    input {
        width: 400px;
        height: 50px;
        border-radius: 12px;
        background-color: rgba(247, 246, 249, 1);
        border: none;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: rgba(73, 73, 73, 1);
        padding-left: 20px;
        margin: 10px 0;
    }

    ::-webkit-input-placeholder {
        color: rgba(192, 192, 192, 1);
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;;
    }

    button {
        margin-top: 50px;
    }
}